/* General body styles */
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    background-color: rgb(12, 11, 15);
}

.justified-content {
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.matrix-text {
    font-family: "Courier New", monospace;
    color: #00ff00;
    animation: matrix 1s infinite;
  }
  
  @keyframes matrix {
    0% {
        color: rgba(0, 255, 0, 0.9);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }



/* Responsive object styling */
.responsive-object {
    width: 100%; /* Full width of the parent container */
    height: 100vh; /* Full height of the viewport */
    border: none; /* Remove any border */
    display: block; /* Ensures proper centering */
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .responsive-object {
        height: 70vh; /* Reduce height for smaller screens */
    }
}

/* General element styling */
.element {
    width: 80%;
    height: 500px;
    overflow: hidden;
    border: 1px solid #ccc;
}

@media (max-width: 768px) {
    .element {
        width: 95%; /* Expand width for smaller screens */
    }
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 8; /* Hide scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Fallback styling */
}

/* Heading and text styles */
h1 {
    color: rgb(226, 62, 16);
    text-align: center;
}

h2 {
    color: #ffffff;
    margin-top: 20px;
    cursor: pointer; /* Add a pointer cursor for clickable headings */
}

b {
    color: rgba(226, 62, 16);
}

p {
    color: #261dd3;
    line-height: 1.5;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    color: rgb(26, 101, 17);
    line-height: 1.5;
}

l1 {
    color: rgb(209, 14, 14);
    line-height: 1.5;
}

h8 {
    color: #ffe600;
}

/* Style for function buttons */
.function-button {
  padding: 10px 20px;
  font-size: 16px; /* Default size for large screens */
  margin: 10px;
  cursor: pointer;
  border: 1px solid #00ff00;
  background-color: transparent;
  color: #00ff00;
  transition: all 0.3s ease;
}

.function-button:hover {
  background-color: #00ff00;
  color: #000;
}

/* Responsive Styles for Small Screens */
@media (max-width: 600px) {
  /* Adjust function buttons */
  .function-button {
      padding: 15px 40px;
      font-size: 24px; /* Slightly larger for easier click */
  }
}

/*Loading Screen*/
  #loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: 'Courier New', monospace;
    color: #00FF00;
    animation: fadeOut 5s forwards;
  }
  
  @keyframes fadeOut {
      0%{
          background-color: rgba(0, 0, 0, 0.9);
          opacity: 1;
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

 
/* Social Media Icon Styles */
.social-icons a {
  display: inline-block;
  margin: 0 15px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icons img {
  width: 30px; /* Default size for large screens */
  height: auto;
  transition: all 0.3s ease-in-out;
}

.social-icons a:hover img {
  transform: scale(1.2); /* Slight zoom effect */
  filter: drop-shadow(0 0 15px #00ff00); /* Glow effect */
}


/* Responsive Styles for Small Screens */
@media (max-width: 600px) {
  /* Adjust social icons */
  .social-icons img {
      width: 4rem; /* Increase size for better tap experience */
  }
  
  .social-icons a {
      margin: 0 15px; /* Reduce margin for smaller screens */
  }}


/* Glow effect on hover */
#content-index:hover {
    color: #00ff00; /* Glow text color */
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
    transform: scale(1); /* Slight zoom effect */
}
